.big-footer{
    background-image: url(../img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .container{
        padding: 0;
    
        .lists{
            padding: 1rem;
            flex-grow: 0.7;
            gap: 2.5rem;
            color: rgb(255, 255, 255);
    
            h5{
                margin: 0.5rem 0;
            }

            li{
                cursor: pointer;
            }
        }
    
        .dc-logo-bg{
            flex-grow: 1;
            background-image: url("../img/dc-logo-bg.png");
            background-position: center;
            background-size: cover;
        }
    }
}

.sub-footer{
    background-color: rgb(54, 54, 54);

    .btn{
        color: white;
        font-weight: 600;
        background-color: transparent;
        padding: 0.8rem;
        border-color: #0282F9;
        cursor: pointer;
    }
    .follow-us{

        h4{
            margin-right: 20px;
            color: #0282F9;
        }

        ul{
            gap: 20px;
        }
    }
}