.services{
    background-color: #0282F9;
    
    ul{
        justify-content: space-around;

        div{
            align-items: center;

            img{
                height: 40px;
                max-width: 40px;
                margin-right: 10px;
            }
    
            h6{
                text-transform: uppercase;
                color: white;
            }
        }
    }
}